
<div class="video center">
    <h2>{{ video.title }}</h2>

    <iframe width="560" height="315" src="{{ video.link }}" frameborder="0"  allowfullscreen></iframe>

    <div class="description">
        <h3>Description:</h3>
        <p>{{ video.description }}</p>
    </div>
</div>



